{% extends "./base.html" %}

{% block main %}

<div style="margin-bottom: 50px; margin-left: 20px; margin-right: 20px;">
    <a href="create" class="btn btn-primary" style="float: right; ">게시글 작성</a>
</div>

<div>
    <ul class="list-group" style="margin-top: 20px; margin-right: 20px;">
        
        {% for i in board %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <p><a href="/board/{{i.id}}">{{i.title}}</a></p>
        <!-- <span class="badge bg-primary rounded-pill">{{comment.1}}</span> -->
        </li>
        {% endfor %}

    </ul>
</div>


    
    

{% endblock %}